body{
    background-image: url(imgs/fundociano.webp);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
img{
    opacity: 0.5;
}
